name: PR Validation

on:
  pull_request:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Initialize Failure Flag
        run: echo "FAIL=0" >> $GITHUB_ENV

      # 1️⃣ Branch Name Check
      - name: Validate Branch Name
        continue-on-error: true
        run: |
          BRANCH_NAME="${{ github.head_ref }}"
          echo "Branch: $BRANCH_NAME"

          if [[ "$BRANCH_NAME" != "development" && ! "$BRANCH_NAME" =~ ^[a-zA-Z0-9]+_.*$ ]]; then
            echo "❌ Branch must start with username_"
            echo "FAIL=1" >> $GITHUB_ENV
          else
            echo "✅ Branch name valid"
          fi
